[includeIf "gitdir:/home/steak"]     # For Linux: your home is likely /home/username/
    path = ~/.gitconfig-linux

[includeIf "gitdir:/Users/steak"]  # For macOS: default user dirs under /Users/
    path = ~/.gitconfig-macos
[user]
	name = cut-the-freakin-steak
	email = calvaradolopez@proton.me
